@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

@if (home.Children.Any())
{
    @* Get the first page in the children *@
var naviLevel = home.Children.First().Level;

    @* Add in level for a CSS hook *@
    <nav class="mdl-navigation">     
        @if (home.Where("Visible"))
        {
		<a class="mdl-navigation__link has-child @(home.IsAncestorOrSelf(CurrentPage) ? "selected" : null)" href="@home.Url" title="@home.Name">@home.Name</a>
        }
        @* For each child page under the home node *@
        @foreach (var childPage in home.Children.Where("Visible"))
        {   
                              
         <a class="mdl-navigation__link has-child @(childPage.IsAncestorOrSelf(CurrentPage) ? "selected" : null)" href="@childPage.Url" title="@childPage.Name">@childPage.Name</a>
					
        }
    </nav>
}
